<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keylesspalace.tusky">

    <application>
        <service
            android:name=".MessagingService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>