<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keylesspalace.tusky">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/oauth_scheme" android:host="@string/oauth_redirect_host" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ComposeActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ViewVideoActivity" />
        <activity android:name=".ViewThreadActivity" />
        <activity android:name=".ViewTagActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".PreferencesActivity" />
        <service
            android:name=".PullNotificationService"
            android:description="@string/notification_service_description"
            android:exported="false" />
    </application>

</manifest>