<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- For notifications -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".TuskyApplication"
        android:appCategory="social"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TuskyTheme"
        android:usesCleartextTraffic="false"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/share_shortcuts" />

        </activity>
        <activity
            android:name=".components.login.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="@string/oauth_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".components.login.LoginWebViewActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />

        </activity>
        <activity
            android:name=".components.compose.ComposeActivity"
            android:theme="@style/TuskyDialogActivityTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".components.viewthread.ViewThreadActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ViewMediaActivity"
            android:theme="@style/TuskyBaseTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize" />
        <activity
            android:name=".components.account.AccountActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".components.preference.PreferencesActivity" />
        <activity android:name=".StatusListActivity" />
        <activity android:name=".components.accountlist.AccountListActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".TabPreferenceActivity" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".components.search.SearchActivity"
            android:launchMode="singleTask"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ListsActivity" />
        <activity android:name=".LicenseActivity" />
        <activity android:name=".components.filters.FiltersActivity" />
        <activity android:name=".components.trending.TrendingActivity" />
        <activity android:name=".components.followedtags.FollowedTagsActivity" />
        <activity
            android:name=".components.report.ReportActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".components.domainblocks.DomainBlocksActivity" />
        <activity android:name=".components.scheduled.ScheduledStatusActivity" />
        <activity android:name=".components.announcements.AnnouncementsActivity" />
        <activity android:name=".components.drafts.DraftsActivity" />
        <activity android:name="com.keylesspalace.tusky.components.filters.EditFilterActivity"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".receiver.SendStatusBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:exported="true"
            android:enabled="true"
            android:name=".receiver.UnifiedPushBroadcastReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.MESSAGE"/>
                <action android:name="org.unifiedpush.android.connector.UNREGISTERED"/>
                <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT"/>
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_FAILED"/>
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_REFUSED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:enabled="true"
            android:name=".receiver.NotificationBlockStateBroadcastReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_BLOCK_STATE_CHANGED"/>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_GROUP_BLOCK_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.TuskyTileService"
            android:icon="@drawable/ic_quicksettings"
            android:label="@string/tusky_compose_post_quicksetting_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".service.SendStatusService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- disable automatic WorkManager initialization -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
