<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keylesspalace.tusky">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!--For notifications-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />  <!--Required by Eclipse Paho-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!--Required by Eclipse Paho-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".TuskyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/oauth_redirect_host"
                    android:scheme="@string/oauth_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity
            android:name=".ComposeActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ViewThreadActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ViewTagActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".FavouritesActivity" />
        <activity android:name=".AccountListActivity" />
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".ReportActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <receiver android:name=".receiver.NotificationClearBroadcastReceiver" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            tools:targetApi="24"
            android:name="com.keylesspalace.tusky.service.TuskyTileService"
            android:icon="@drawable/ic_send_24dp"
            android:label="Compose Toot"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.keylesspalace.tusky.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>