# Deploy Tusky Nightly on each push to develop

name: Populate build cache

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: app:buildGreenDebug
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/workflows/check-and-build.yml

      - name: Build Green aab
        run: ./gradlew app:bundleGreenRelease

      - uses: r0adkll/sign-android-release@f30bdd30588842ac76044ecdbd4b6d0e3e813478
        name: Sign Tusky Green aab
        id: sign_aab
        with:
          releaseDirectory: app/build/outputs/bundle/greenRelease
          signingKeyBase64: ${{ secrets.KEYSTORE }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Generate whatsnew
        id: generate-whatsnew
        run: |
          mkdir whatsnew
          git log -3 --pretty=%B | head -c 500 > whatsnew/whatsnew-en-US

      - name: Upload AAB to Google Play
        id: upload-release-asset-aab
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: com.keylesspalace.tusky.test
          releaseFiles: ${{steps.sign_aab.outputs.signedReleaseFile}}
          track: production
          whatsNewDirectory: whatsnew
          status: completed
          mappingFile: app/build/outputs/mapping/blueGoogleRelease/mapping.txt
