# Build the app on each push to `develop`, populating the build cache to speed
# up CI on PRs.

name: Populate build cache

on:
  push:
    branches:
      - develop

jobs:
  build:
    name: app:buildGreenDebug
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/gradle-build-action@v2
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/develop' }}

      - name: Run app:buildGreenDebug
        run: ./gradlew app:buildGreenDebug
